In [1]:
# Import dependencies
 import pandas as pd

In [2]:
# Path to CSV file

file = "Resources/income_data_kaggle.csv"

# Read data in to Pandas

income_df = pd.read_csv(file)
income_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [5]:
new_df = income_df.drop(['id', 'State_Code', 'State_ab', 'Place', 'Type', 'Primary', 'Area_Code', 'ALand', 'AWater', 'Median', 'Stdev', 'sum_w'], axis=1)

In [6]:
new_df.head()

,State_Name,County,City,Zip_Code,Lat,Lon,Mean
0,Alabama,Mobile County,Chickasaw,36611,30.771450,-88.079697,38773
1,Alabama,Barbour County,Louisville,36048,31.708516,-85.611039,37725
2,Alabama,Shelby County,Columbiana,35051,33.191452,-86.615618,54606
3,Alabama,Mobile County,Satsuma,36572,30.874343,-88.009442,63919
4,Alabama,Mobile County,Dauphin Island,36528,30.250913,-88.171268,77948

In [7]:
new_df.to_csv('income_by_zip.csv')