National Conference of State Legislatures - 
State Unemployment Rates 2014

In [1]:
# Import dependencies
 import pandas as pd

In [2]:
# Path to CSV file

file = "Resources/State_Unemployment_Rates_2014.csv"

# Read data in to Pandas

unemp_df = pd.read_csv(file)
unemp_df.head()

,State,January,February,March,April,May,June,July,August,September,October,November,December
0,Alabama,6.1,6.4,6.7,6.9,6.8,6.8,7.0,6.9,6.6,6.3,6.0,5.7
1,Alaska,6.4,6.5,6.6,6.4,6.4,6.4,6.5,6.8,6.8,6.8,6.6,6.3
2,Arizona,7.5,7.3,7.3,6.9,6.8,6.9,7.0,7.1,6.9,6.8,6.8,6.7
3,Arkansas,7.3,7.1,6.9,6.6,6.4,6.2,6.2,6.3,6.2,6,5.8,5.7
4,California,8.1,8.0,8.1,7.8,7.6,7.4,7.4,7.4,7.3,7.3,7.2,7.0

In [3]:
# Set state name as the index 

unemp_df2 = unemp_df.set_index('State')

unemp_df2.head()

,January,February,March,April,May,June,July,August,September,October,November,December
State,,,,,,,,,,,,
Alabama,6.1,6.4,6.7,6.9,6.8,6.8,7.0,6.9,6.6,6.3,6.0,5.7
Alaska,6.4,6.5,6.6,6.4,6.4,6.4,6.5,6.8,6.8,6.8,6.6,6.3
Arizona,7.5,7.3,7.3,6.9,6.8,6.9,7.0,7.1,6.9,6.8,6.8,6.7
Arkansas,7.3,7.1,6.9,6.6,6.4,6.2,6.2,6.3,6.2,6,5.8,5.7
California,8.1,8.0,8.1,7.8,7.6,7.4,7.4,7.4,7.3,7.3,7.2,7.0

In [4]:
# Drop rows that do not exist in the other dataset and NaN
# DC & Puerto Rico

updated_df = unemp_df.drop(unemp_df.index[[8, 39, 52]])
updated_df.head()

,State,January,February,March,April,May,June,July,August,September,October,November,December
0,Alabama,6.1,6.4,6.7,6.9,6.8,6.8,7.0,6.9,6.6,6.3,6.0,5.7
1,Alaska,6.4,6.5,6.6,6.4,6.4,6.4,6.5,6.8,6.8,6.8,6.6,6.3
2,Arizona,7.5,7.3,7.3,6.9,6.8,6.9,7.0,7.1,6.9,6.8,6.8,6.7
3,Arkansas,7.3,7.1,6.9,6.6,6.4,6.2,6.2,6.3,6.2,6,5.8,5.7
4,California,8.1,8.0,8.1,7.8,7.6,7.4,7.4,7.4,7.3,7.3,7.2,7.0

In [13]:
updated_df.to_csv('Desktop\updated_unemployment.csv')